@font-face {font-family:
    'RaphaelIcons';
    src:
    url('icon-fonts/raphaelicons-webfont.eot');
    src:
    local('☺'), url('icon-fonts/raphaelicons-webfont.woff') format('woff'), url('icon-fonts/raphaelicons-webfont.ttf') format('truetype'), url('icon-fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin icon-after($color_standard, $color_hover, $icon-text, $icon-size: 1.25em, $top-margin: 0.14em) {
  &:after {
    font-weight: normal;
    font-style: normal;
    font-size: $icon-size;
    font-family: 'RaphaelIcons';
    position: relative;
    top: $top-margin;
    margin-left:0.25em;
    content: $icon-text;
    color: $color_standard;
  }
  &:hover:after {
   color: $color_hover; 
  };
}


a.read-more {
  @include icon-after(#f4c212, #7d6201, ':');
}

a#to-attach {
  @include icon-after(#f4c212, #7d6201, '@', 3em, 0.3em);
  font-weight:bold;
}

h2.latest-products {
 @include icon-after(#CC0000, #7d6201, 'x');   
}

a#search-products {
 @include icon-after(#f4c212, #7d6201, 'z', 2em, 0.2em);
}